<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    {{ partial "head" }}

</head>
<body>
{{ partial "navbar" }}

<div class="couverture" style="background:url('/pic/region05.jpg');
    background-size:cover;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    height: 75vh;
    min-height: 25rem;
    width: 100%;">
     <div class="content">
    <h1>Conseil Municipal</h1>
  </div>
</div>

<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="/pic/mairie2.jpg" class="w-100">
          </div>
          <div class="col-md-8 px-8">
            <div class="card-block px-6">
              <h4 class="card-title">La Mairie</h4>
              <p class="card-text">Le conseil municipal de la mairie est élu tous les 6 ans au suffrage universel direct. Il élit en son sein le Maire et les adjoints qui forment la municipalité.
Le nombre d'adjoints est déterminé librement par le conseil municipal sans pouvoir excéder 30% de son effectif total.</p>
              <p class="card-text">Le conseil municipal est une assemblée élue lors des élections municipales. Il règle par ses délibérations les affaires de la commune, vote le budget et contrôle l'exécution de ses décisions.
Le conseil municipal se réunit environ 10 fois par an sur convocation du Maire qui fixe l'ordre du jour. Les séances sont publiques.
Ses délibérations règlent les affaires de la commune.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<p></p>


<h2 style="text-align:center">Membres</h2>
<hr>


<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/elon2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Elon Musk</h5>
          <div class="card-text text-black-50">Maire</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/chan2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Jackie Chan</h5>
          <div class="card-text text-black-50">Adjoint Administratif</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/george2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">George Clooney</h5>
          <div class="card-text text-black-50">Attachée territorial</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/messi2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lionel Messi</h5>
          <div class="card-text text-black-50">Conservateur du Patrimoine</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->


  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/kendall2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kendall Jenner</h5>
          <div class="card-text text-black-50">Chargée de communication</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/joe2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Joe Rogan</h5>
          <div class="card-text text-black-50">Conseiller en Environnement</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/conor2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Conor McGregor</h5>
          <div class="card-text text-black-50">Chef de Projet</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/pic/coti2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Marion Cotillard</h5>
          <div class="card-text text-black-50">Secrétaire</div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->
<footer>
{{ partial "footer" }}
</footer>

</body>